{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row dark-color">
		<img class="img-fluid alexa-logo" src=" {% static 'img/alexa-logo.png' %} ">
</div>

<!-- Content -->
<div class="row justify-content-center" style="padding-top: 50px">
	{% if user.is_authenticated %}
	<!-- Get the page -->
	<div class="col-1"></div>
	<div class="col-2" align="center">
		<div class="col-6 align-self-center col-xs-12"  >
			<button type="button" class="btn btn-secondary btn-lg my-2 " > <a href="/logout/" style="color:white"> <strong> Logout {{ user.username }}</strong></a></button>
		</div>

	</div>
	<div class="col-1"></div>
	<div class="col-4 col-xs-12 align-self-center">
		<form method="post">
		{% csrf_token %}
		  <div class="form-group">
		    <label for="nameURL"><strong>URL from Alexa top sites:</strong></label>
		    <input type="text" class="form-control" id="nameURL" aria-describedby="urllHelp" placeholder="Enter url" name="nameURL" value="{{ nameURL }}">
		    <small id="urlHelp" class="form-text text-muted">
		    <ul>
				    <li>  Ex. https://www.alexa.com/topsites/category/Top/Healths
				    </li>
				    <li>
				    	Ex. https://www.alexa.com/topsites/
				    </li>
			    </ul>
		    </small>
		  </div>

		  <button type="submit" id="getInfo" class="btn btn-secondary">Get information</button>
		</form>
	</div>
	<div class="col-1"></div>
	<div class="col-3 col-xs-12 recentViews ">
		<p class="text-justify">Last 5 recent views:
		{% if recents%}
			{% for i in recents %}
				</br>{{ i }}
			{% endfor %}
		{% else %}
			</br>
			Start now!
		{% endif %}
		</p>

	</div>
	

	<!-- Left side -->
	<div class="col-6" style="margin-top: 45px;margin-left: 15px;" >
  		<div class="go-down">
	  		<div class="row">
	 			<div class="col title-orange" >
	 				<p>Top 50 sites on the web</p>
	 			</div>
	 			<div class="col-6 title-icon">
	 				<i style="font-size: 60px; padding-top: 20px;" class="fas fa-clipboard-list"></i>
	 				
	 			</div>
	 		</div>
 		</div>
 		<div class="row justify-content-center">
 			<i style="font-size: 260px; color:#174b75; margin-top: 100px;" class="fas fa-desktop"></i>
 		</div>
 		<div class="row justify-content-center">
 			<strong style="padding-top: 20px">By</strong><img class="image-alexa" src="{% static 'img/alexa.PNG' %}">
 		</div>
		</div>

		<!-- Right side -->
		<div class="col">
			<div class="table-responsive">
		    <table id="tableDomain" class="table table-striped " style="text-align: center">
			  <thead class="table-domain">
			    <tr>
			      <th scope="col">Position</th>
			      <th scope="col">Site</th>
			      <th scope="col">Domain</th>
			      <th scope="col"><i style="font-size: 15px;" class="fas fa-search"></i></th>
			    </tr>
			  </thead>
			  <tbody>
			  {% for link in domains %}
			     <tr>
			      <th scope="row">{{ link.position }}</th>
			      <td>{{ link.name }}</td>
			      <td><a href="https://www.alexa.com{{ link.url }}">{{ link.url }}</a></td>
			      <td><button type="button" data-toggle="modal" data-target="#descriptionModal{{ link.position }}" class="btn btn-secondary btn-sm"  ><strong> Details</strong></button></td>
			      
			    </tr>
			    <!-- Modal -->
				<div class="modal fade" id="descriptionModal{{ link.position }}" tabindex="-1" role="dialog" aria-labelledby="description{{ link.position }}" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="description{{ link.position }}">About it</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				      	<a href="https://www.alexa.com{{ link.url }}" ><h3 style="color:#f05323">{{ link.name }}</h3></a>
				        <br/>
				        <p style="text-orientation: justify">{{ link.description }}</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>

			   {% endfor%}
			  </tbody>
			</table>
		</div>
	</div>
	{% else %}
	<!-- Left side -->
	<div class="col-3">
		
	</div>
	<div class="col-6" style="margin-top: 45px;" >
  		<div class="go-down">
	  		<div class="row">
	 			<div class="col title-orange" >
	 				<p>Top 50 sites on the web</p>
	 			</div>
	 			<div class="col-6 title-icon">
	 				<i style="font-size: 60px; padding-top: 20px;" class="fas fa-clipboard-list"></i>
	 				
	 			</div>
	 		</div>
 		</div>
 		<div class="row justify-content-center" style="margin-left: 22%;">
	 					
			<div class="col-6 align-self-center col-xs-12" >
 			<button type="button" class="btn btn-secondary btn-lg" > <a style="color:white" href="/register/"> <strong> Sign up</strong></a></button>
	 	</div>
	 	<div class="col-6 align-self-center col-xs-12"  >
			<button type="button" class="btn btn-secondary btn-lg my-2 " > <a href="/login/" style="color:white"> <strong> Sign in</strong></a></button>
		</div>
 		</div>
 		<div class="row justify-content-center">
 			<strong style="padding-top: 20px">By</strong><img class="image-alexa" src="{% static 'img/alexa.PNG' %}">
 		</div>
	</div>
	<div class="col-3"></div>


	{% endif%}
</div>
{% endblock content %}